@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Avenir';
  src: url('/fonts/AvenirNext-Regular.woff2') format('woff2'),
       url('/fonts/AvenirNext-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@layer base {
  * {
    box-sizing: border-box;
  }
  html, body {
    font-family: 'Avenir';
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}